body {
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.Teddy {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("../img/teddy-roosevelt.jpg");
    background-position: center;
    background-size: cover;
    /*animation: ease-in 2s;*/
    font-family: 'Playfair Display SC', Serif;
}


#firstcircle, #secondcircle, #thirdcircle {
    border-radius: 50% !important;
}

.carouseled {
    /*min-width: 320px;*/
    max-width: 777px;
    max-height: 600px !important;
    margin: auto;
}

.carousel {
    min-width: 320px;

    max-height: 600px !important;
    max-width: 777px;
}

#usnagrad {
    animation: expand 3.5s;
}
#swo {
    animation: expand 4s;
}
#codeup {
    animation: expand 4.5s;
}
/*#carouselExampleControls {*/
/*    animation: expand 3s;*/
/*}*/

/*#usnagrad, #swo, #codeup {*/
/*    box-shadow: 3px 1px 6px rgba(0, 0, 0, 0.3);*/
/*}*/

@keyframes expand {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.fa-linkedin {
    color: #0a66c2
}

.fa-github-square {
    color: black;
}

.fa-laptop-code {
    color: black;
}

.fa-envelope-open {
    color: #c5221e;
}

.fa-lock {
    color: #505061;
}

.fa-file-pdf {
    color: #ad0b00
}

footer {
    color: white;
    background-color: navy;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0 , 0, 0, 0.3)),
    url("../img/waterbackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

footer a {
    color: white;
    text-decoration: underline;
    text-decoration-color: aliceblue;
}

/*.firstcircle {*/
/*    background-image: usna-seal.png;*/
/*}*/

/*.text {*/
/*    background: inherit;*/
/*    background-attachment: fixed;*/
/*    -webkit-filter: blur(12px);*/
/*    filter: blur(12px);*/
/*}*/