/*npx tailwindcss -i ./css/index.css -o ./css/output.css --watch*/

@tailwind base;

body {
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

@tailwind components;


@tailwind utilities;



/*#contactMenu  {*/
/*    transition: ease-out duration-100;*/
/*    transform: opacity-0 scale-95;*/
/*    To: "transform opacity-100 scale-100"*/
/*    Leaving: "transition ease-in duration-75"*/
/*    From: "transform opacity-100 scale-100"*/
/*    To: "transform opacity-0 scale-95"*/
/*}*/

.sharebtn {
     @apply relative flex z-10 bg-white border rounded-md p-2 opacity-50 hover:opacity-100 focus:outline-none focus:border-blue-400;
}

.sharebtn:hover + .sharebtn-dropdown,
.sharebtn:focus + .sharebtn-dropdown {
    display: block;
}

.sharebtn-dropdown {
     @apply absolute right-0 mt-0 w-48 bg-white rounded-sm overflow-hidden shadow-lg z-20 hidden border border-gray-100;
}

.JPJ {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("../img/john-jaul-jones.jpg");
    background-position: center;
    background-size: cover;
}

.GWR {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("../img/georgewromney.jpg");
    background-position: center;
    background-size: cover;
}

.branson {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("../img/richardbranson.png");
    background-position: center;
    background-size: cover;
}

.bd-placeholder-img {
    max-height: 400px;
}

.card-text {
    text-align: justify;
}

[x-cloak] { display: none !important; }

@keyframes expand {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 140px;*/
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*.firstcircle {*/
/*    background-image: usna-seal.png;*/
/*}*/

/*.text {*/
/*    background: inherit;*/
/*    background-attachment: fixed;*/
/*    -webkit-filter: blur(12px);*/
/*    filter: blur(12px);*/
/*}*/