.JPJ {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("../img/john-jaul-jones.jpg");
    background-position: center;
    background-size: cover;
}

.bd-placeholder-img {
    max-height: 400px;
}

.card-text {
    text-align: justify;
}

@keyframes expand {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.fa-linkedin {
    color: #0a66c2
}

.fa-github-square {
    color: black;
}

.fa-laptop-code {
    color: black;
}

.fa-envelope-open {
    color: #c5221e;
}

.fa-lock {
    color: #505061;
}

.fa-file-pdf {
    color: #ad0b00
}

.fa-file-word {
    color: #274f90
}

.fa-file-word:hover, .fa-file-pdf:hover {
    color: black
}
