.JPJ {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ),url("../img/john-jaul-jones.jpg");
    background-position: center;
    background-size: cover;
}

.fa-linkedin {
    color: #0a66c2
}

.fa-github-square {
    color: black;
}

.fa-laptop-code {
    color: black;
}

.fa-envelope-open {
    color: #c5221e;
}

.fa-lock {
    color: #505061;
}